*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a:link,
a:visited {
	text-decoration: none;
	transition: all .4s;
}

body {
	font-size: 16px;
	font-family: 'Noto Sans TC', sans-serif;
	color: #000;
	overflow-x: hidden;
	line-height: 1.5;
	font-weight: 400;
}

.link_cover {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 99;
	font-size: 0;
}

::placeholder {
	color: rgba(0,0,0, .2);
}