.btn {
	padding: 6px 12px;
	display: inline-block;
	color: #fff;
	border: 0;
	transition: all .4s;
	cursor: pointer;

	&_xl {
		width: 100%;
		padding: 16px 32px;
	}

	&:hover {
		opacity: 0.8;
	}
}

.primary_btn {
	background-color: $primary_color;
}
