footer {
	background-color: $promary_color;
	padding: 3rem 0 2rem;
	color: #fff;
	li {
		list-style: none;
	}
	a {
		color: #fff;
		&:hover {
					opacity: .8;
		}
	}
}
footer .material-icons-outlined {
	font-size: 2.25rem;
	margin-right: 22px;
}
.footer_linksbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_links {
	display: flex;
	li {
		margin-right: 3rem;
		
		&:last-child {
			margin-right: 0;
		}
	}
}

.footer_social {
	display: flex;
	div {
		width: 3rem;
		margin-left: 2rem;
	}
}

.footer_info {
	margin: 24px 0 0;
	padding-bottom: 24px;
	border-bottom: 1px solid #fff;
	li {
		margin-bottom: 8px;
		display: flex;
		align-items: center;
	}
	a {
		font-size: 2.25rem;
		font-weight: 300;
	}
}

.footer_copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 32px 0 0;
	div {
		font-family: 'Roboto';
		a {
			font-family: 'Noto Sans TC';
			font-size: 14px;
			display: inline-block;
			margin-left: 3rem;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}