.header {
	background-color: $primary_color;
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@include md {
			justify-content: center;
		}
	}
	.container {
		@include md {
			padding: 0;
		}
	}
}

.logoBox {
	max-width: 80px;
	margin: 16px 0;
}

.menu_lists {
	display: flex;
	@include md {
		flex-wrap: wrap;
		width: 100%;
	}
	li {
		list-style: none;
		margin: 2rem;
		@include md {
			text-align: center;
			margin: 0;
			width: 50%;
			border: 1px solid #fff;
		}
		a {
			color: #fff;
			font-size: 1.25rem;
			@include md {
				padding: 12px 0;
				display: block;
			}

			&:hover {
				opacity: .8;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
}